{
    "parserOptions":{
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins":[
        "import",
        "react-hooks"
    ],
    "rules":{
        "no-console": 0,
        "no-plusplus": 0,
        "vars-on-top": 0,
        "no-underscore-dangle": 0, // var _foo;
        "comma-dangle": 0,
        "func-names": 0, // setTimeout(function () {}, 0);
        "prefer-arrow-callback": 0, // setTimeout(function () {}, 0);
        "prefer-template": 0,
        "no-nested-ternary": 0,
        "max-classes-per-file": 0,
        "arrow-parens": ["error", "as-needed"], // a => {}
        "no-restricted-syntax": [0, "ForOfStatement"],
        "no-param-reassign": ["error", { "props": false }]
    }
}